@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Quicksand',Arial, Helvetica, sans-serif;
  outline: none;
  border: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.App{
  margin: 0 auto;
  max-width: 800px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}
.navbar h1{
  font-weight: 600;
  font-size: 1.8em;
  color: #f1356d;
}
.link a{
  margin-left: 1em;
  font-size: 1.2em;
  font-weight: 500;
}
.heading{
  margin-top: 5em;
}
h1{font-size: 2em;}