.destination {
  text-align: center;
  margin: 4em 6em;
  max-width: 1200px;
  margin-inline: auto;
}
.destination h1 {
  font-size: 3em;
}
.first-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.6em;
}
.first-desc-reverse{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.6em;
}
.desc-text {
  width: 45%;
  text-align: start;
  font-size: 1.1em;
}
.desc-text h2 {
  padding-bottom: 1em;
}
.image {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 50%;
  z-index: -5;
}
.image img {
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}
.image img:nth-child(2) {
  position: absolute;
  top: -10%;
  right: 0;
}
@media screen and (max-width: 850px) {
  .destination {
    margin: 4em 2em;
  }
  .first-desc {
    flex-direction: column-reverse;
    margin-top: 2.5em;
  }
  .first-desc-reverse{
    flex-direction: column-reverse;
    margin-top: 4.5em;
  }
  .desc-text {
    width: 100%;
  }
  .image{
    width: 100%;
    margin: 1.8em 0;
  }
  .image img{
    height: 250px;
  }
}
